@use "variables" as *;

@mixin block-with-text {
  display: -webkit-box;
  overflow: hidden;
  -webkit-box-orient: vertical;

  max-height: 70px;

  font-size: 1rem;
  line-height: 1.5;

  -webkit-line-clamp: 4;
}

@mixin lg-min {
  @media (min-width: calc($lg + 1px)) {
    @content;
  }
}

@mixin lg-sm {
  @media (max-width: $lg) and (min-width: calc($sm + 1px)) {
    @content;
  }
}

@mixin sm {
  @media (max-width: calc($sm + 1px)) {
    @content;
  }
}

@mixin sm-xs {
  @media (max-width: $sm) and (min-width: calc($xs + 1px)) {
    @content;
  }
}

@mixin xs {
  @media (max-width: $xs) {
    @content;
  }
}
