@use "pressets" as *;

.bottom-sidebar {
  display: flex;
  flex-wrap: wrap;

  width: 100%;
  min-height: 116px;

  border: 5px solid #ffffff;
  box-shadow: 0 0 1px $base-color;

  &__item {
    display: flex;
    flex-basis: 50%;

    padding: 20px $gap 30px $gap;

    background: linear-gradient(to bottom, #ffffff, rgba($base-color, 0.05));

    gap: $gap;
    @include sm {
      flex-basis: 100%;

      &:first-child {
        border-right: none;
      }

      &:nth-of-type(2n) {
        flex-direction: row-reverse;
      }
    }

    &:first-child {
      border-right: 1px solid rgba($base-color, 0.2);
    }
  }
}
