@use "pressets" as *;

*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  color: $base-color;

  font-family: $font-main;
  font-size: $fz-main;
  line-height: 1.5em;
}

a {
  text-decoration: none;

  color: inherit;
}

body {
  background-image: url(../img/background.jpg);
  background-attachment: scroll;
  background-position: 50% 0;
}

.title {
  color: $accent-color;

  font-size: 2rem;
  font-weight: 400;
}

.wrapper {
  display: flex;
  flex-direction: column;

  max-width: $lg;
  margin: 0 auto;
  padding: 0 $gap;
}
