@use "pressets" as *;

.footer {
  min-height: 248px;
  padding-top: 37px;
  padding-bottom: 30px;

  background-color: rgba(#000000, 0.4);

  @include sm {
    padding-bottom: 13px;
  }

  &__wraper {
    display: flex;
    flex-direction: row;

    gap: 37px;
    @include sm {
      flex-wrap: wrap;

      gap: 58px;
    }
  }

  &-left {
    @include sm {
      flex-grow: 1;
    }
    &__social {
      display: flex;

      margin-bottom: 9px;

      gap: 14px;
    }



    &__social-title {
      position: relative;

      padding: 5px 0;

      color: $light-color;
      &:before {
        position: absolute;
        bottom: $gap;

        content: "Follow Us";

        color: rgba($base-color, 0.8);

        font-size: 12px;
      }
    }

    &__social-message {
      position: relative;

      margin-left: 37px;
      padding: 20px;
      padding-top: 32px;
      padding-bottom: 18px;

      border-radius: 10px;
      background-color: rgba(#000000, 0.4);
      &:before {
        position: absolute;
        top: 0;
        left: 0;

        display: block;

        width: 25px;
        height: 20px;

        content: "";
        transform: translateY(-95%);

        background-image: url(../img/twitter-speech-bubble.png);
      }

      p {
        margin-bottom: 10px;
      }

      span {
        color: $accent-color;

        font-size: 10px;
        font-style: italic;
      }
    }
  }
  &-right {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    @include sm {
      align-items: center;
      flex-grow: 1;

      &__copy {
        align-items: center;
      }
    }
    &__menu {
      font-size: 0.9rem;
      line-height: 1.5;

      @include sm {
        display: none;
      }
    }

    &__copy {
      display: flex;
      align-items: flex-end;
      flex-direction: column;

      padding: 0 $gap;

      gap: 13px;
      span {
        color: $light-color;
      }
    }
  }
}
