@use 'pressets' as *;

.menu
{
    display: flex;

    align-items: center;
    justify-content: flex-end;
    gap: 7px;

    &__link
    {
        padding: 12px 15px;

        transition: background-color .5s;

        color: $light-color;
        border-radius: 15px;

        &--active,
        &:focus
        {
            background: linear-gradient(
            to bottom,
            #0f8bbe 0%,
            #2989d8 50%,
            #207cca 51%,
            #0eb7fe 100%
            );
        }

        &:hover
        {
            background: rgba($light-color, .2);
        }
    }
}
