/*! normalize-scss | MIT/GPLv2 License | bit.ly/normalize-scss */
/* Document
   ========================================================================== */
/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in
 *    IE on Windows Phone and in iOS.
 */
html {
  line-height: 1.15;
  /* 1 */
  -ms-text-size-adjust: 100%;
  /* 2 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
}

/* Sections
   ========================================================================== */
/**
 * Remove the margin in all browsers (opinionated).
 */
body {
  margin: 0;
}

/**
 * Add the correct display in IE 9-.
 */
article,
aside,
footer,
header,
nav,
section {
  display: block;
}

/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/* Grouping content
   ========================================================================== */
/**
 * Add the correct display in IE 9-.
 */
figcaption,
figure {
  display: block;
}

/**
 * Add the correct margin in IE 8.
 */
figure {
  margin: 1em 40px;
}

/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */
hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  /* 1 */
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */
}

/**
 * Add the correct display in IE.
 */
main {
  display: block;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
pre {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/* Links
   ========================================================================== */
/**
 * 1. Remove the gray background on active links in IE 10.
 * 2. Remove gaps in links underline in iOS 8+ and Safari 8+.
 */
a {
  background-color: transparent;
  /* 1 */
  -webkit-text-decoration-skip: objects;
  /* 2 */
}

/* Text-level semantics
   ========================================================================== */
/**
 * 1. Remove the bottom border in Chrome 57- and Firefox 39-.
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */
abbr[title] {
  border-bottom: none;
  /* 1 */
  text-decoration: underline;
  /* 2 */
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
  /* 2 */
}

/**
 * Prevent the duplicate application of `bolder` by the next rule in Safari 6.
 */
b,
strong {
  font-weight: inherit;
}

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
b,
strong {
  font-weight: bolder;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
code,
kbd,
samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/**
 * Add the correct font style in Android 4.3-.
 */
dfn {
  font-style: italic;
}

/**
 * Add the correct background and color in IE 9-.
 */
mark {
  background-color: #ff0;
  color: #000;
}

/**
 * Add the correct font size in all browsers.
 */
small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/* Embedded content
   ========================================================================== */
/**
 * Add the correct display in IE 9-.
 */
audio,
video {
  display: inline-block;
}

/**
 * Add the correct display in iOS 4-7.
 */
audio:not([controls]) {
  display: none;
  height: 0;
}

/**
 * Remove the border on images inside links in IE 10-.
 */
img {
  border-style: none;
}

/**
 * Hide the overflow in IE.
 */
svg:not(:root) {
  overflow: hidden;
}

/* Forms
   ========================================================================== */
/**
 * 1. Change the font styles in all browsers (opinionated).
 * 2. Remove the margin in Firefox and Safari.
 */
button,
input,
optgroup,
select,
textarea {
  font-family: sans-serif;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */
}

/**
 * Show the overflow in IE.
 */
button {
  overflow: visible;
}

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */
button,
select {
  /* 1 */
  text-transform: none;
}

/**
 * 1. Prevent a WebKit bug where (2) destroys native `audio` and `video`
 *    controls in Android 4.
 * 2. Correct the inability to style clickable types in iOS and Safari.
 */
button,
html [type=button],
[type=reset],
[type=submit] {
  -webkit-appearance: button;
  /* 2 */
}

button,
[type=button],
[type=reset],
[type=submit] {
  /**
   * Remove the inner border and padding in Firefox.
   */
  /**
   * Restore the focus styles unset by the previous rule.
   */
}
button::-moz-focus-inner,
[type=button]::-moz-focus-inner,
[type=reset]::-moz-focus-inner,
[type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}
button:-moz-focusring,
[type=button]:-moz-focusring,
[type=reset]:-moz-focusring,
[type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
 * Show the overflow in Edge.
 */
input {
  overflow: visible;
}

/**
 * 1. Add the correct box sizing in IE 10-.
 * 2. Remove the padding in IE 10-.
 */
[type=checkbox],
[type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
}

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */
[type=number]::-webkit-inner-spin-button,
[type=number]::-webkit-outer-spin-button {
  height: auto;
}

/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */
[type=search] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */
  /**
   * Remove the inner padding and cancel buttons in Chrome and Safari on macOS.
   */
}
[type=search]::-webkit-search-cancel-button, [type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}

/**
 * Correct the padding in Firefox.
 */
fieldset {
  padding: 0.35em 0.75em 0.625em;
}

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */
legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  /* 1 */
  display: table;
  /* 1 */
  max-width: 100%;
  /* 1 */
  padding: 0;
  /* 3 */
  color: inherit;
  /* 2 */
  white-space: normal;
  /* 1 */
}

/**
 * 1. Add the correct display in IE 9-.
 * 2. Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */
progress {
  display: inline-block;
  /* 1 */
  vertical-align: baseline;
  /* 2 */
}

/**
 * Remove the default vertical scrollbar in IE.
 */
textarea {
  overflow: auto;
}

/* Interactive
   ========================================================================== */
/*
 * Add the correct display in Edge, IE, and Firefox.
 */
details {
  display: block;
}

/*
 * Add the correct display in all browsers.
 */
summary {
  display: list-item;
}

/*
 * Add the correct display in IE 9-.
 */
menu {
  display: block;
}

/* Scripting
   ========================================================================== */
/**
 * Add the correct display in IE 9-.
 */
canvas {
  display: inline-block;
}

/**
 * Add the correct display in IE.
 */
template {
  display: none;
}

/* Hidden
   ========================================================================== */
/**
 * Add the correct display in IE 10-.
 */
[hidden] {
  display: none;
}

*,
*::after,
*::before {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  color: #858585;
  font-family: Verdana, sans-serif;
  font-size: 12px;
  line-height: 1.5em;
}

a {
  text-decoration: none;
  color: inherit;
}

body {
  background-image: url(../img/background.jpg);
  background-attachment: scroll;
  background-position: 50% 0;
}

.title {
  color: #0b81be;
  font-size: 2rem;
  font-weight: 400;
}

.wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  max-width: 850px;
  margin: 0 auto;
  padding: 0 15px;
}

.header {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  max-height: 121px;
  padding: 34px 0;
  gap: 15px;
}
.header__burger {
  position: absolute;
  z-index: 2;
  top: 48%;
  right: 0;
  display: none;
  width: 50px;
  height: 50px;
  -webkit-transform: translateY(-48%);
      -ms-transform: translateY(-48%);
          transform: translateY(-48%);
  background-color: rgba(0, 0, 0, 0.25);
}
.header__burger span {
  position: absolute;
  top: 48%;
  left: 10px;
  display: block;
  width: 30px;
  height: 2px;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
  -webkit-transform: rotate(0deg);
      -ms-transform: rotate(0deg);
          transform: rotate(0deg);
  background: #ffffff;
}
.header__burger span:first-child {
  top: 18px;
}
.header__burger span:last-child {
  top: 30px;
}
.header__burger:hover {
  cursor: pointer;
}
.header__burger.header__burger--active span {
  top: 48%;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  opacity: 0;
}
.header__burger.header__burger--active span:first-child {
  -webkit-transform: rotate(-135deg);
      -ms-transform: rotate(-135deg);
          transform: rotate(-135deg);
  opacity: 1;
}
.header__burger.header__burger--active span:last-child {
  -webkit-transform: rotate(-225deg);
      -ms-transform: rotate(-225deg);
          transform: rotate(-225deg);
  opacity: 1;
}
.header__menu {
  margin-top: -2px;
}

.menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  gap: 7px;
}
.menu__link {
  display: block;
  padding: 12px 15px;
  -webkit-transition: background-color 0.5s;
  -o-transition: background-color 0.5s;
  transition: background-color 0.5s;
  color: #efefef;
  border-radius: 15px;
}
.menu__link--active, .menu__link:focus {
  background: -webkit-gradient(linear, left top, left bottom, from(#0f8bbe), color-stop(50%, #2989d8), color-stop(51%, #207cca), to(#0eb7fe));
  background: -o-linear-gradient(top, #0f8bbe 0%, #2989d8 50%, #207cca 51%, #0eb7fe 100%);
  background: linear-gradient(to bottom, #0f8bbe 0%, #2989d8 50%, #207cca 51%, #0eb7fe 100%);
}
.menu__link:hover {
  background: rgba(239, 239, 239, 0.2);
}

.main {
  width: 100%;
  margin-bottom: 50px;
  border: 15px solid rgba(239, 239, 239, 0.1);
}
.main__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  height: 100%;
  padding: 15px;
  background-color: #efefef;
  gap: 30px;
}

.carousel {
  position: relative;
}
.carousel__controls {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  inset: 0;
}
.carousel__control {
  width: 36px;
  height: 36px;
  cursor: pointer;
  border: none;
  background: none;
}

.carousel-slide {
  position: relative;
  width: 100%;
  border: 7px solid #ffffff;
}
.carousel-slide__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  padding: 15px;
  -webkit-transition: opacity 0.5s;
  -o-transition: opacity 0.5s;
  transition: opacity 0.5s;
  opacity: 0;
  background-image: url(../img/carousel-item-bg.png);
  background-position: center center;
  background-size: cover;
  gap: 25px;
}
.carousel-slide__item:not(:first-child) {
  position: absolute;
  top: 0;
}
.carousel-slide__item-image {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-width: 220px;
}
.carousel-slide__item-image img {
  max-width: 100%;
}
.carousel-slide__item-description {
  padding-top: 12px;
  padding-right: 15px;
  padding-left: 5px;
  color: #ffffff;
}
.carousel-slide__item-description-title {
  margin-top: 0;
  margin-bottom: 10px;
  color: #ffffff;
  display: -webkit-box;
  overflow: hidden;
  -webkit-box-orient: vertical;
  max-height: 70px;
  font-size: 1rem;
  line-height: 1.5;
  -webkit-line-clamp: 4;
  font-size: 2rem;
}
.carousel-slide__item-description-text {
  text-align: justify;
}

.active {
  opacity: 1;
}

.prev {
  left: 0;
  -webkit-transform: translate(calc(-50% + 6px), 10%);
      -ms-transform: translate(calc(-50% + 6px), 10%);
          transform: translate(calc(-50% + 6px), 10%);
}

.next {
  right: 0;
  -webkit-transform: rotate(180deg) translate(calc(-50% + 6px), -10%);
      -ms-transform: rotate(180deg) translate(calc(-50% + 6px), -10%);
          transform: rotate(180deg) translate(calc(-50% + 6px), -10%);
}

.main-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  margin-bottom: 12px;
}
.main-content .title {
  margin-bottom: 17px;
}
.main-content p {
  line-height: 1.75em;
}
.main-content p:not(:last-child) {
  margin-bottom: 12px;
}
.main-content__left {
  -ms-flex-preferred-size: 285px;
      flex-basis: 285px;
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
  padding: 0 10px 0 5px;
  border-right: 1px solid rgba(133, 133, 133, 0.2);
}
.main-content__left ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 7px 0 10px 19px;
  font-style: italic;
  gap: 15px;
}
.main-content__left ul li {
  position: relative;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  padding-left: 8.5px;
}
.main-content__left ul li::marker {
  content: url(../img/main-list-arrow.png);
}
.main-content__left ul li::before {
  position: absolute;
  bottom: -8px;
  display: block;
  width: 94%;
  height: 1px;
  content: "";
  background: rgba(133, 133, 133, 0.2);
}
.main-content__right {
  -ms-flex-preferred-size: calc(100% - 290px);
      flex-basis: calc(100% - 290px);
  -webkit-box-ordinal-group: 3;
      -ms-flex-order: 2;
          order: 2;
  padding: 0 5px 0 10px;
  text-align: justify;
}
.main-content__right i {
  color: #000000;
}

.bottom-sidebar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 100%;
  min-height: 116px;
  border: 5px solid #ffffff;
  -webkit-box-shadow: 0 0 1px #858585;
          box-shadow: 0 0 1px #858585;
}
.bottom-sidebar__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
  padding: 20px 15px 30px 15px;
  background: -webkit-gradient(linear, left top, left bottom, from(#ffffff), to(rgba(133, 133, 133, 0.05)));
  background: -o-linear-gradient(top, #ffffff, rgba(133, 133, 133, 0.05));
  background: linear-gradient(to bottom, #ffffff, rgba(133, 133, 133, 0.05));
  gap: 15px;
}
.bottom-sidebar__item:first-child {
  border-right: 1px solid rgba(133, 133, 133, 0.2);
}

.footer {
  min-height: 248px;
  background-color: rgba(0, 0, 0, 0.4);
  padding-top: 37px;
  padding-bottom: 30px;
}
.footer__wraper {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  gap: 55px;
}
.footer__social {
  position: absolute;
  top: 0;
  left: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 9px;
}
.footer__social-img {
  position: relative;
}
.footer__social-message {
  width: 262px;
  padding: 32px 20px 18px 20px;
  position: absolute;
  top: 67px;
  left: 52px;
  background: rgba(0, 0, 0, 0.4);
  border-radius: 10px;
}
.footer__social-message p {
  margin-bottom: 10px;
}
.footer__social-message span {
  font-style: italic;
  color: #0b81be;
  font-size: 10px;
}
.footer__social-message:before {
  content: "";
  display: block;
  width: 25px;
  height: 20px;
  background-image: url(../img/twitter-speech-bubble.png);
  position: absolute;
  top: -19px;
  left: 0;
}
.footer__social-title {
  padding: 5px;
  color: #efefef;
  position: relative;
}
.footer__social-title::before {
  content: "Follow Us";
  font-size: 12px;
  color: rgba(133, 133, 133, 0.8);
  position: absolute;
  bottom: 15px;
}
.footer__menu {
  font-size: 0.9rem;
  line-height: 1.5;
}
.footer__copy {
  padding: 0 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  gap: 13px;
}
.footer__copy span {
  color: #efefef;
}
@media (max-width: 769px) {
  .header__burger {
    display: block;
  }
  .header__menu {
    display: none;
  }
  .header__menu--active {
    position: absolute;
    bottom: 38px;
    left: -15px;
    z-index: 10;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: stretch;
        -ms-flex-align: stretch;
            align-items: stretch;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: calc(100% + 30px);
    -webkit-transform: translateY(100%);
        -ms-transform: translateY(100%);
            transform: translateY(100%);
    text-align: center;
    background-color: rgba(0, 0, 0, 0.8);
    gap: 0;
  }
  .header__menu--active .menu__link {
    padding: 15px;
    border-radius: 0;
  }
  .carousel-slide__item {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 0;
  }
  .carousel-slide__item-image {
    min-width: auto;
  }
  .carousel-slide__item-description {
    text-align: center;
  }
  .carousel-slide__item-description-text {
    text-align: center;
    display: -webkit-box;
    overflow: hidden;
    -webkit-box-orient: vertical;
    max-height: 70px;
    font-size: 1rem;
    line-height: 1.5;
    -webkit-line-clamp: 4;
  }
  .main-content {
    margin-bottom: 0;
    line-height: 2em;
  }
  .main-content__left {
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
    margin-bottom: 30px;
    padding-left: 5px;
    border-right: none;
  }
  .main-content__right {
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
    margin-top: 20px;
    margin-bottom: 47px;
    padding-left: 5px;
  }
  .bottom-sidebar__item {
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
  }
  .bottom-sidebar__item:first-child {
    border-right: none;
  }
  .bottom-sidebar__item:nth-of-type(2n) {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
  }
  .footer__wraper {
    height: 100%;
  }
  .footer__social-message {
    width: calc(100% - 80px);
  }
  .footer__menu {
    display: none;
  }
}